
 body
 {
 background-color: rgb(110, 102, 223);}
 
 .red{color: rgb(92, 125, 216);
 background-color: rgb(66, 201, 255);}
 
 .green{color:white;
 background-color:deepskyblue;}
 
 .blue{color: deepskyblue;
 background-color: deepskyblue;}
 
 .greenb {background-color:deepskyblue;}


.redb {background-color:deepskyblue;}

.blueb {background-color: deepskyblue;}


.red{color: rgb(62, 124, 204);
}
.star{
display: inline;

}



.green{color: forestgreen;
}

.blue{color: deepskyblue;
}




.right{text-align: right;}
.righta{text-align: right;
  margin-bottom: 70px;
}
/* td {
  background-color: orange;
} */

/* .background {
  background-color: lightcoral;
} */

/* #email {
  background-color: lightcoral;
} */

/* h1.background {
  background-color: lightcoral;
} */

/* img { */
/* display: block; */
/* inline-block */
/* inline */
/* } */

/* .font {
  font-weight: 800;
  font-size: 18px;
} */

/* .padding { 
 padding: auto; 
 padding-bottom: 100px; 
 padding-right: 0;
  list-style-type: none; 
 }  */

/* 
.font {
  font-weight: 800;
  font-size: 18px;
  color: white;
} */

/* body {
  background-color: grey;
} */
